@font-face {
  font-family: 'Roboto';
  src: local('./fonts/Roboto-Regular.ttf');
  font-display: swap
}

@font-face {
  font-family: 'Roboto';
  src: local('./fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('./fonts/Roboto-Italic.ttf');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('./fonts/Roboto-BoldItalic.ttf');
  font-size: bold;
  font-style: italic;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header section */
header {
  position: fixed;
  width: 80%;
  top: 0px;
  z-index: 1;
}

header nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav #logo, 
header nav #links {
  flex: 1;
}

header nav #links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header nav #links li {
  display: inline;
}

.link {
  text-decoration: none;
  color: white;
}

.select {
  position: absolute;
  border: 1px solid #fff;
  border-radius: .2em;
  z-index: -2;
  transform: scale(2)
}
/* Sections */
section {
  min-height: 100vh;
}

section:before { 
  display: block; 
  content: " "; 
  height: 20vh; 
  visibility: hidden; 
  pointer-events: none;
}

section > h2,
section > p,
section > div {
  margin-top: 2rem;
}

/* About Me Section */
#it-me {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

#it-me img {
  max-height: 200px;
  max-width: 200px;
  margin: 1em 0 1em 1em;
  align-self: center;
  height: auto;
  border-radius: .5em;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
}

#about-me button {
  max-width: 120px;
  align-self: flex-end;
}

@media only screen and (max-width: 1024) {
  #it-me {
    flex-direction: column;
  }

  #it-me img {
    margin-top: 0;
    align-self: center;
  }
}

/* Projects section */
.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  margin-top: 2rem;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.card-image {
  align-self: center;
}

.card-image img {
  max-height: 200px;
}

.card-image img:hover {
  animation: focus 1s ease-in-out infinite;
}

.card-description {
  margin-top: .5em
}

/* Contact Me Section */

#contact form {
  margin-top: 2rem;
  max-width: 50%;
}

input, textarea {
  outline: none;
}

::placeholder {
  color: #F5F5F5;
}

input[type=text], input[type=email], textarea {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: block;
  width: 100%;
  padding: .5em 1em;
  margin: 8px 0;
}


input[type=text]:focus, input[type=email]:focus, textarea:focus {
  transform: scale(1.05);
  border: 1px solid #F5F5F5
} 

textarea {
  resize: vertical
}

input[type=submit], button {
  background-color: #F5F5F5;
  color: black;
  font-weight: bold;
  padding: .5em 1em;
  border: none;
  border-radius: .5em;
  box-shadow: 0px 8px 15px;
}

input[type=submit]:hover, button:hover {
  cursor: pointer;
  animation: focus 1s ease-in-out infinite;
}

input[data-invalid], textarea[data-invalid] {
  border-bottom: 1px solid rgb(168,0,28,0.5);
  box-shadow: 0px 2px 0px 0px rgb(168,0,28,0.5);
}

.form-submit {
  display: flex; 
  flex-direction: row;
  justify-content: flex-left;
  align-items: center;
}

.loader {
  overflow: visible;
  opacity: 0;
  transition: opacity 1s;
  margin-left: 2em;
}

.validation-message {
  opacity: 0;
  transition: opacity 1s;
  height: 2em;
  color: white;
}

.visible {
  opacity: 1;
}

.loader circle {
  animation: bounce 1s ease-in-out infinite
}

circle:nth-of-type(1) {
  animation-delay: .3s;
}

circle:nth-of-type(2) {
  animation-delay: .4s;
}

circle:nth-of-type(3) {
  animation-delay: .5s;
}

@media only screen and (max-width: 1024px) {
  .card .card-image img:hover {
    animation: none;
  }

  input[type=submit]:hover, button:hover {
    animation: none;
  }
}

@media only screen 
and (min-width: 768px) 
and (max-width: 1024px) {

  * {
    font-size: 14px;
  }

  .select {
    position: absolute;
    border: 1px solid #fff;
    border-radius: .2em;
    z-index: -2;
    transform: scale(1.5)
  }


  #it-me p:last-of-type {
    margin-bottom: 1em;
  }

  #it-me img:hover {
    animation: none;
  }

}

@media only screen 
and (max-width: 768px) {

  * {
    font-size: 12px;
  }

  header nav {
    display: block;
    margin-top: 2rem;
  }

  header nav #logo {
    display: none;
  }

  header nav #links {
    margin: 6px; 
  }

  section::before {
    height: 10vh;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  #it-me {
    flex-direction: column;
    align-items: center;
  }

  #it-me img {
    margin-right: 1em;
  }

  #about-me button {
    margin: 1em 0;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 5px #555;
  }

  .card {
    max-width: 80%;
    background-color: transparent;
  }

  .card:last-child {
    margin-bottom: 2rem;
  }

  #contact form {
    max-width: 100%;
  }

  textarea {
    resize: none;
  }

}

@keyframes focus {
  0% {
    transform: scale(1)
  }
  
  50% {
    transform: scale(1.05)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-.5em);
  }

  80% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(0)
  }

}